body {
  background-image: url(../images/cover-3.jpg);
  background-color: white;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}
#header{
    color: white;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 15px;
  width:60%;
}
.button:hover {
  background-color: #31a31a;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#questions{
    color: white;
    font-size: 30px;
    background: black;
    width: 60%;
}
#answers {
  padding-top: 10px;
}
.btn-primary{
    display: flex;
    flex-direction: column;
}

